/* - Index
/*================================================*/
/*
    - 1.    Page Constants
    - 2.    Fonts & Colours
    - 3.    Background Color
    - 4.    Page Layout
        - 4A. Media Queries

    - 5.    Menu Button
    - 6.    Opening Overlay
        - 6A. Background Blur

    - 7.    Google Maps
    - 8.    Slide In
    - 9.    Switches
    - 10.   Driver Information
    - 11.   Driving Mode
    - 12.   Material Icons
*/

/* - 1. Page Constants
/*================================================*/
body, html{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* - 2. Fonts & Colours
/*================================================*/
h1, h2, h3{
    color: grey;
    font-weight: 300;
}
h1{
    font-size: 3em;
    letter-spacing: 10px;
    margin-top: 2.5%;
}
h2{
    font-size: 1.5em;
    font-style: italic;
}
#slider h2{
    font-style: normal;
}
.rating h2{
    display: inline-block;
    vertical-align: middle;
}
h3{
    font-size: 1em;
    text-transform: uppercase;
}
p{
    margin-top: 10px;
    font-size: 1em; 
    font-weight: 300;
    color: grey;
}
.lightBlueBG{background: #40C0CD}
.orangeBG{background: #F36023}
.blackBG{
    background: black;
    color: white;
}
.driverList h1{
    font-size: 1.5em;
}

/*The following font is an opensource project by google. Found at http://google.github.io/material-design-icons/#icon-font-for-the-web*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* - 3. Background Colour
/*================================================*/
.blueBG {
    background: #deeff5;
    opacity: 0.85;
}
.whiteBG{
    background: white;
    opacity: 0.85;
}
/* - 4. Page Layout
/*================================================*/
.marginTop50 {
    margin-top: 50px;
}
#homeLogo h1,h2:hover{cursor: pointer;}
.ratingsMiddle{
    margin-left: 15px;
    margin-right: 15px;
}
.ratings{
    margin-top: 10px;
    display: block;
}
#tutorial {
	margin-top: 150px;
}
.line {
    width: 87px;
    height: 3px;
    background: grey;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fullWH{
    height: 100%;
    width: 100%;
}
.halfWH{
    left: 0;
    height: 75%;
    width: 50%;
}
.halfWHlower{
    bottom: 0;
    left: 0;
    height: 25%;
    width: 50%; 
}
.tuteIcons{
    height: 50px;
    margin-left: 25px;
    margin-top: 25px;
}
#firstHeading{
    height: 65px;
}
.passengerInfo{
    z-index: 75;
    position: absolute;
    top: 90px;
}
.passengerInfo2{
    z-index: 75;
    position: absolute;
    bottom: 0;
}
#pasInfo{
    border: 2px solid grey;
}
.marginPix{
    letter-spacing: normal;
    margin-top: 15px;
}
.marginTop{margin-top: 15px;}
.marginTop10{margin-top: 10px;}
.imageSelect{
    height: 150px;
    margin-top: 25px;
}
#openingOverlay .imageSelect:hover{
    cursor: pointer;
    opacity: 0.8;
}
.leftHalf{
    width: 50%;
    left: 0;
    float: left;
    text-align: center;
}
.rightHalf{
    width: 50%;
    margin-left: 50%;
    text-align: center;
}
.topHalf{
    left: 0;
    text-align: center;
    margin-top: 5%;
}
.bottomHalf{
    text-align: center;
    margin-top: 5%;
}
.selectionMargin{
    margin-top: 100px;
}
/* - 4B. Media Queries
/*================================================*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 25px;
    overflow: hidden;
}
@media (min-width:768px) {
    .ratings{display: inline-block;}
    .selection{display: inline-block;}
    #passenger{margin-left: 10%;}
}

@media (min-width:992px) {
}

@media (min-width:1200px) {
}
/* - 5. Menu Button
/*================================================*/
.menuIcon:hover {
    cursor: pointer;
}
.menuIcon{
    position: absolute;
	top: 21px;
	left: 21px;
	z-index: 120;
    max-height: 70px;
}
#logo{
    width: 250px;
    height: 75px;
    margin: auto;
}

/* - 6. Opening Overlay
/*================================================*/
.overlay{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    margin-top:  15%;
    top: 0;
}
/* - 6A. Background Blur
/*================================================*/
.blur{
    background: white;
     -webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.8;
    z-index: 75;
    position: absolute;
}
/* - 7. Google Maps
/*================================================*/
/*
     Resources Used:
    -   Primarily used documentation for Google Maps API,
        provided by Google themselves.
        -   https://developers.google.com/maps/documentation/javascript/examples/map-geolocation
    
    -   Also used help from StackOverflow with the implementation of Geo Location.
        -   http://stackoverflow.com/questions/14586916/google-maps-directions-from-users-geo-location
*/
/*================================================*/
#map {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    position: relative;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
.controls {
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.pac-input {
    background-color: #fff !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    right: 25px !important;
    padding: 0 11px 0 13px !important;
    text-overflow: ellipsis !important;
    width: 230px !important;
    position: absolute !important;
    z-index: 201 !important;
    text-align: center !important;
}
.pac-input:focus {
    border-color: #4d90fe !important;
}
.pac-container {
    font-family: Roboto;
}
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}
.border {
	border: 2px solid grey;
}

/* - 8. Slide In
/*================================================*/
/*
     Resources Used:
    -   Used help from StackOverflow with the implementation.
        -   http://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition
*/
/*================================================*/
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
    position: absolute;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

/* Throwing erros in CSS validator:
/* https://jigsaw.w3.org/css-validator/validator
@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}*/
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
/* Throwing erros in CSS validator:
/* https://jigsaw.w3.org/css-validator/validator
@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}*/
.pickupSelect {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.1em;
    text-transform: none;
    font-variant: small-caps;
}
/* - 9. Switches
/*================================================*/
/*
     Resources Used:
    -   Used help from the below website with the implementation.
        -   http://callmenick.com/post/css-toggle-switch-examples
*/
/*================================================*/
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 30px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 26px;
  background-color: #dddddd;
  border-radius: 26px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 30px;
  background-color: #8ce196;
}

/* - 10. Driver Information
/*================================================*/
.driverImage {
    margin-top: 15px;
    height: 125px;
}
.ratingIcon {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.ratingText {
    height: 42px;
    width: 50px;
    border-radius: 5px;
    color: white;
    font-style: normal;
    padding-top: 8px;
    font-size: 2em;
}
.yesNo {
    height: 50px;
    right: 25px;
    bottom: 25px;
    position: absolute;
}
.yesNo:hover {
    cursor: pointer;
    opacity: 0.8;
}
#no{
    left: 25px;
    right: auto;
}
/* - 11. Driving Mode
/*================================================*/
.mode{
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.mode:hover{opacity: 0.8;}
.modeCaption{
    display:inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.modeCaption:hover{opacity: 0.8;}
#modeSelection{
    top: 15px;
    left: 15px;
    position: absolute;
    z-index: 250;
}
#tutorialBlur{
    opacity: 0.7;
}
#homeLogo {
    position: absolute;
    height: 75px;
    width: 100%;
    padding-top: 15px;
    z-index: 100;
}
.heading {
    color: #40C0CD;
    margin-top: 0;
}
#homeLogo h1{
    font-size: 2em;
    margin-top: auto;
}
#homeLogo h2{font-size: 1em;}

.subtitle {
    font-size: 1em;
}
/* - 12. Material Icons
/*================================================*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }


/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.settingsIcon {
    position: absolute;
	top: 21px;
	right: 21px;
	z-index: 120;
}
.settingsIcon:hover {
    cursor: pointer;
}

.optionsMenu {
    position: absolute;
    right: 0;
    top: 150px;
    z-index: 100;
}
.schedule {
    display: inline-block;
}

.leftPosition {
    margin-right: 150px;
}
.switch {
    vertical-align: top;
}
.clock {
    width: 210px;
    padding: 10px;
}
#datepicker {
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}
#end {
    position: relative;
    width: auto;
    right: auto;
    padding: 0;
    text-align: center;
    margin-top: auto;
    margin-bottom: 15px;
}

/* - 13. Login Form
/*================================================*/
/* Parts of this snippet were found at https://scotch.io/tutorials/google-material-design-input-boxes-in-css3 */

 
.buttonSubmit {
    margin-top: 1px;
    color: white;
    vertical-align: top;
    display: inline-block;
}

.inline {
    display: inline-block;
}